<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee" class="com.springcore.di.Employee">
		<property name="empId" value="25" />
		<property name="empName" value="Chandrasekhar" />
		<property name="deptName" value="Software Enginnering" />
	</bean>
	
	<bean id="customer" class="com.springcore.di.Customer">
		<constructor-arg name="empId" value="25"  />
		<constructor-arg name="empName" type="java.lang.String" value="Customer"  />
		<constructor-arg name="deptName" type="java.lang.String" value="Test"  />
	</bean>

</beans>
